.nitro-view {
    background: @nitro-white;
}

.nitro-view[nitro-related=yes] {

    &[nitro-direction=forward] {
        background: @nitro-black;

        > .nitro-view-panel.ng-enter,
        > .nitro-view-panel.ng-leave {
            transition: transform .5s, opacity .5s;
        }

        > .nitro-view-panel.ng-enter {
            z-index: @nitro-layer-views-hover;

            transform: translateX(100%);
        }

        > .nitro-view-panel.ng-enter.ng-enter-active {
            transform: translateX(0);
        }

        > .nitro-view-panel.ng-leave {
            z-index: @nitro-layer-views-under;

            transform: translateX(0);
            opacity: 1;
        }

        > .nitro-view-panel.ng-leave.ng-leave-active {
            transform: translateX(-50%);
            opacity: 0;
        }

    }

    &[nitro-direction=backward] {
        background: @nitro-black;

        > .nitro-view-panel.ng-enter,
        > .nitro-view-panel.ng-leave {
            transition: transform .5s, opacity .5s;
        }

        > .nitro-view-panel.ng-enter {
            z-index: @nitro-layer-views-under;

            transform: translateX(-50%);
            opacity: 0;
        }

        > .nitro-view-panel.ng-enter.ng-enter-active {
            transform: translateX(0);
            opacity: 1;
        }

        > .nitro-view-panel.ng-leave {
            z-index: @nitro-layer-views-hover;

            transform: translateX(0);
        }

        > .nitro-view-panel.ng-leave.ng-leave-active {
            transform: translateX(100%);
        }

    }

}

.nitro-view[nitro-related=no] {

    &[nitro-direction=forward] {
        background: @nitro-black;

        > .nitro-view-panel.ng-enter,
        > .nitro-view-panel.ng-leave {
            transition: transform .3s, opacity .3s;
        }

        > .nitro-view-panel.ng-enter {
            z-index: @nitro-layer-views-hover;

            transform: scale(0.7);
        }

        > .nitro-view-panel.ng-enter-active {
            transform: scale(1.0);
        }

        > .nitro-view-panel.ng-leave {
            z-index: @nitro-layer-views-under;

            opacity: 1;
        }

        > .nitro-view-panel.ng-leave-active {
            opacity: 0;
        }

    }

    &[nitro-direction=backward] {
        background: @nitro-black;

        > .nitro-view-panel.ng-enter,
        > .nitro-view-panel.ng-leave {
            transition: transform .3s, opacity .3s;
        }

        > .nitro-view-panel.ng-enter {
            z-index: @nitro-layer-views-under;

            opacity: 0;
        }

        > .nitro-view-panel.ng-enter-active {
            opacity: 1;
        }

        > .nitro-view-panel.ng-leave {
            z-index: @nitro-layer-views-hover;

            transform: scale(1.0);
            opacity: 1;
        }

        > .nitro-view-panel.ng-leave-active {
            transform: scale(0.7);
            opacity: 0;
        }

    }

}

.nitro-view {

    &[nitro-direction=left] {

        > .nitro-view-panel.ng-enter,
        > .nitro-view-panel.ng-leave {
            z-index: @nitro-layer-views-normal;

            transition: transform .3s, opacity .3s;
        }

        > .nitro-view-panel.ng-enter {
            transform: translateX(-100%);
        }

        > .nitro-view-panel.ng-enter-active {
            transform: translateX(0%);
        }

        > .nitro-view-panel.ng-leave {
            transform: translateX(0%);
        }

        > .nitro-view-panel.ng-leave-active {
            transform: translateX(100%);
        }

    }

    &[nitro-direction=right] {

        > .nitro-view-panel.ng-enter,
        > .nitro-view-panel.ng-leave {
            z-index: @nitro-layer-views-normal;

            transition: transform .3s, opacity .3s;
        }

        > .nitro-view-panel.ng-enter {
            transform: translateX(100%);
        }

        > .nitro-view-panel.ng-enter-active {
            transform: translateX(0%);
        }

        > .nitro-view-panel.ng-leave {
            transform: translateX(0%);
        }

        > .nitro-view-panel.ng-leave-active {
            transform: translateX(-100%);
        }

    }

}
