@nitro-white: #FFFFFF;
@nitro-black: #4D4D4D;

@nitro-color-normal:  #2980B9;
@nitro-color-warning: #F39C12;
@nitro-color-light:   #ECF0F1;
@nitro-color-dark:    #333333;

@nitro-layer-1: 1000;
@nitro-layer-2: 2000;
@nitro-layer-3: 3000;
@nitro-layer-4: 4000;
@nitro-layer-5: 5000;
@nitro-layer-6: 6000;

@nitro-layer-views-normal:  @nitro-layer-1;
@nitro-layer-views-under:   @nitro-layer-2;
@nitro-layer-views-hover:   @nitro-layer-3;
@nitro-layer-tabs:          @nitro-layer-4;
@nitro-layer-headers:       @nitro-layer-4;
@nitro-layer-tabs-pointers: @nitro-layer-5;
@nitro-layer-popovers:      @nitro-layer-6;
@nitro-layer-menus:         @nitro-layer-6;
@nitro-layer-loadings:      @nitro-layer-6;

* {
    box-sizing: border-box;
}

html, body, .nitro-page {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

.nitro-menu, .nitro-page {
    display: flex;
    flex-direction: column;
}

.nitro-content {
    position: relative;

    flex: auto;
    overflow-y: auto;
}

.nt-flex-container {
    display: flex;
    flex-direction: column;

    flex: auto;
}

.nitro-disable-transitions,
.nitro-disable-transitions * {
    transition: none !important;
}

.nitro-color-sets(@component, @ruleset) {

    .nitro-color-ref(@name, @color) {
        @{component}-@{name} {
            @ruleset();
        }
    }

    .nitro-color-ref(normal, @nitro-color-normal);
    .nitro-color-ref(warning, @nitro-color-warning);
    .nitro-color-ref(light, @nitro-color-light);
    .nitro-color-ref(dark, @nitro-color-dark);

}

@import "./_items";
@import "./_lipsum";
@import "./_loading";
@import "./_menus";
@import "./_popovers";
@import "./_tabs";
@import "./_utils";
@import "./_views";

@import "./themes/android/android";
